.main{
    display: flex;
    gap: 20px;
}

.left{
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: flex-end;
}

.box1{
    background-color: blue;
    width: 350px;
    height: 100px;
    border-radius: 10px;
}

.right{
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 650px;
    display: flex;
}


.box2{
    background-color: red;
    width: 350px;
    height: 100px;
    border-radius: 10px;
}


h1{
    color: white;
    font-size: 25px;
    margin-left: 20px;
    
}

p{
    color: white;
    margin-left: 20px;
}





